# chap01
## python 기본 문법
### - 출력문

In [12]:
print("in the name of Jesus Christ") # 출력 명령문

in the name of Jesus Christ

In [22]:
print("Hello, World!!" + "Happy Jesus Name")
print("Hello, World!!","Happy Jesus Name") # 띄어쓰기 자동 입력됨

Hello, World!!Happy Jesus Name
Hello, World!! Happy Jesus Name

### - 연산기능( + , - , * , / )

In [25]:
3 + 2

5

In [31]:
print(3.14)
print("3.14")

3.14
3.14

In [53]:
print(1, 3.18, "시몬아!!!")

1 3.18 시몬아!!!

# - 변수

In [41]:
# 자바 : int, double, char, boolean, String
# Integer a = Integer(5)
# Integer a = 5;
a = 5
b = 10

In [43]:
a+b

15

In [48]:
# int num1 = 10, num2 = 20;
x = 10 
y = 20
print(x, y)

10 20

In [50]:
x, y = 777, 888
print(x, y)

777 888

In [51]:
x, y = y, x
print(x, y)

888 777