# 함수 정의 방법_20221028

In [2]:
def hello():
    print("welcome Holy Spirit!!!!")
    
hello() # 호출 방법

welcome Holy Spirit!!!!

In [5]:
# 호출과 반환

def my_abs(arg):
    if(arg < 0):
        result = arg * -1
    else:
        result = arg
    
    return result

# my_abs() # TypeError
print(my_abs(-10))
print(my_abs) # 할당된 주소값 변환

10
<function my_abs at 0x000001C7A7077828>

In [6]:
# 인자(argument) 이름의 올바른 예

def print_string1(text, count):
    for i in range(count):
        print(text)
        
print_string1("안녕하세요.", 3)

안녕하세요.
안녕하세요.
안녕하세요.

In [12]:
# 기본값 인자(Default Argument Value)

def print_string2(text, count=1):
    for i in range(count):
        print(text)
        
print_string2("안녕하세요.")

안녕하세요.

## 키워드 인자(Keyword Argument)_20221028
    : 호출자가 매개변수의 이름을 일일이 지정해 데이터를 입력하는 것.

In [14]:
def print_personel1(name, position="staff", nationality="korea"):
    print(f"name = {name}")
    print(f"position = {position}")
    print(f"nationality = {nationality}")

In [15]:
print_personel1("Jesus", "carpenter", "American")

name = 홍길동
position = student
nationality = American

In [18]:
print_personel1("홍길동", "carpenter")

name = 홍길동
position = student
nationality = korea

In [19]:
print_personel1("홍길동")

name = 홍길동
position = staff
nationality = korea

In [20]:
print_personel1(name = "베드로")

name = 베드로
position = staff
nationality = korea

In [22]:
print_personel1(nationality="israel") # TypeError - name에 데이터 미전달.

TypeError: print_personel1() missing 1 required positional argument: 'name'

In [24]:
print_personel1(name="이승만", nationality="korea")

name = 이승만
position = staff
nationality = korea

In [25]:
print_personel1(position="business", name="박명수")

name = 박명수
position = business
nationality = korea

In [26]:
print_personel1(pos="business", name="박명수") # TypeError # 매개변수 이름을 축약해서 쓰는 건 'R'에서만 가능함

TypeError: print_personel1() got an unexpected keyword argument 'pos'

# - 가변 매개 변수(Arbitrary Argument List)

In [32]:
def merge_string(*text_list): # 계속 받는 인자에 대해 매개변수를 여러개 받을 수 있음
    print(type(text_list)) # <class 'tuple'>
    
    result = ""
    for s in text_list:
        result += s
        
    return result

print(merge_string('세상을 이처럼 ', '사랑하사 ', '독생자 예수를 주셨느니라 (요3:16)'))

<class 'tuple'>
세상을 이처럼 사랑하사 독생자 예수를 주셨느니라 (요3:16)

In [35]:
def print_team(**players): # **은 딕셔너리 형태로 가변 매개 변수를 정해준다.
    print(type(players))
    
    for k in players.keys():
        print(f"{k} = {players[k]}")
        
print_team(안정환="축구", 류현진="야구", 서장훈="농구")

<class 'dict'>
안정환 = 축구
류현진 = 야구
서장훈 = 농구

In [36]:
def print_args1(argc, *argv):
    for i in range(argc):
        print(argv[i])

In [42]:
# 주의
print_args1(argc = 3, "박호종", "이승만", "베드로") # SyntaxError

SyntaxError: positional argument follows keyword argument (3172397137.py, line 1)

In [44]:
# 주의
print_args1("박호종", argc = 3, "이승만", "베드로") # SyntaxError

SyntaxError: positional argument follows keyword argument (1335865758.py, line 2)

In [52]:
def print_args2(*argv, argc):
    for i in range(argc):
        print(argv[i])

In [56]:
print_args2("레비스탕스", "더크로스처치", "박호종", argc=3) # argc=3를 전달해주면 제대로 작동하기 시작함. 
# 하지만 이전에는 모두 가변인자로 판단하게 되기 때문에 주의(argc를 넣지 않고 숫자 3만 넣으면 가변인자로 인식하게 된다.)

레비스탕스
더크로스처치
박호종

In [66]:
# 호출자에게 반환하기
def multiply(x1, x2):
    return x1 * x2         # 1. 함수 즉시 종료 / 2. 호출자에게 결과 전달

result = multiply(3,5)
print(result)

15

In [68]:
# 한 함수 안에 여러 개의 return 배치 가능.

def my_abs1(arg):
    if arg < 0: # 음수일 경우에 return arg * -1
        return arg * -1
    else: # 양수일 경우에 return arg
        return arg

In [69]:
result = my_abs1(-50)
print(result)

50

In [70]:
# 주의
def my_abs2(arg):
    if arg < 0: # 음수일 경우에 return arg * -1
        return arg * -1
    elif(arg > 0): # 양수일 경우에 return arg
        return arg
    
result = my_abs2(0)
print(result) # None = 'R'에서의 NA와 같다. # return 값이 하나도 없을 때 None이라고 알려준다.

None