# 리스트 (List)_20221027
### - 리스트 저장 형태

In [4]:
a = ["베드로", "요한", "야고보"]
print(a)
print(type(a))

['베드로', '요한', '야고보']
<class 'list'>

In [12]:
# 데이터 접근
print(a[0])
print(a[1])
print(a[2])
# print(a[3]) : IndexError

베드로
요한
야고보

In [19]:
# 슬라이싱 기능
x = [1,2,3,4,5,6,7,8,9,10]
print(x[0:5]) # 0,1,2,3,4까지만 데이터를 가져와라
print(x[5:])
print(x[3:6])
# print(x[3:6, 7]) # TypeError, R에서는 가능했었다.

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[4, 5, 6]

In [35]:
# '+' 연산자를 통한 리스트간의 결합 가능.
x = [1,2,3,4,5]
y = [6,7,8,9,10]
print(x + y)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
# 특정 위치에 있는 데이터를 변경.
x = [1,2,3,4,5]
x[2] = 888
print(x)
print(len(x))

[1, 2, 888, 4, 5]
5

In [31]:
# 리스트에서 항목 삭제하기
del x[4]
print(x)

[1, 2, 888, 4]

In [32]:
x = [1,3,5]
x.append(7)
print(x)

[1, 3, 5, 7]

In [36]:
y = [9,11,13]
x.extend(y)
print(x)

[1, 2, 3, 4, 5, 9, 11, 13]

In [37]:
x.insert(1,777) # 1의 위치에다가 777숫자를 삽입.
print(x)

[1, 777, 2, 3, 4, 5, 9, 11, 13]

In [38]:
x.remove(11) # 삭제 값 지장
print(x)

[1, 777, 2, 3, 4, 5, 9, 13]

In [39]:
x.remove(11) # ValueError

ValueError: list.remove(x): x not in list

In [41]:
x.pop(1) # 인덱스 지정. # 꺼내오고 나서 나머지 값만이 담겨짐
print(x)

[1, 3, 4, 5, 9, 13]

In [42]:
x = ['abc', 'def', 'ghi'] # 0:'abc', 1:'def', 2:'ghi'
print(x.index('ghi'))

2

In [43]:
print(x.index('xyz')) # ValueError

ValueError: 'xyz' is not in list

In [2]:
x = [1, 888, 2, 777, 3, 888, 4, 100, 100]
print(x.count(100))

2

In [4]:
x = [7,5,9,4,2] # sort는 결과값만 리턴해주지 않음
x.sort() # 정렬하기
print(x) # 정렬 후 자료값까지 변경해줌.

[2, 4, 5, 7, 9]

In [5]:
x.sort(reverse=True) # 내림차순 = reverse
print(x)

[9, 7, 5, 4, 2]

In [6]:
x = [7,5,9,4,2] 
x.reverse() # 말 그대로 그냥 역순
print(x)

[2, 4, 9, 5, 7]

# 튜플()_20221027

In [9]:
x = (1,2,3)
print(x)
type(x) # tuple - 소괄호 열고 닫고 하는 구조

(1, 2, 3)

tuple

In [12]:
x = 1,2,3,4
print(x)
type(x)

(1, 2, 3, 4)

tuple

In [15]:
# 주의
x = (1) # int
print(x)
type(x) # x에 소괄호를 넣었음에도 불구하고 int로 반환됨.

1

int

In [17]:
x = (1,) # ,를 넣지 않는다면 int가 되어버림
print(x)
type(x)

(1,)

tuple

In [18]:
x = 1,
print(x)
type(x)

(1,)

tuple

In [23]:
# tuple도 슬라이싱이 가능하다
x = (1,2,3,4,5,6)
print(x[2:5])
print(x[:2])
print(x[4:])
print(x[4])

(3, 4, 5)
(1, 2)
(5, 6)
5

In [24]:
# '+' 연산자를 통한 튜플 간의 결합 가능
m = (1,2,3)
n = (4,5,6)

m + n

(1, 2, 3, 4, 5, 6)

In [27]:
print(m[1])
m[1] = 888 # TypeError # tuple은 한번 입력하면 더이상 배정이 안 된다. 고정된다. # tuple의 특징

2

TypeError: 'tuple' object does not support item assignment

In [30]:
m = (1,2,3)
m.append(888) # error - 메서드 지원 x. # 'tuple' object has no attribute 'append'

AttributeError: 'tuple' object has no attribute 'append'

## - 튜플 제공 메서드_20221027

In [31]:
x = ('abc', 'def', 'ghi')
print(x.index('ghi'))

2

In [32]:
x = (1, 888, 2, 777, 3, 300)
print(x.count(888))

1

In [33]:
# tuple packing(튜플 패킹): 여러 가지 데이터를 튜플로 묶는 것
x = 1,2,3
print(x)

(1, 2, 3)

In [36]:
# tuple unpacking(튜플 언패킹): 각 요소를 어러 개의 변수에 할당하는 것.
data = 'Seoul', 37.541, 126.986 # 지역/경도/위도

city, latitude, longitude = data

print(city)
print(latitude)
print(longitude)

Seoul
37.541
126.986

## 딕셔너리(Dictionary)

In [42]:
dic = {"애플":"www.apple.com", "네이버":"www.naver.com", "파이썬":"www.python.org"} # 중괄호는 딕셔너리, 소괄호는 튜플, 대괄호는 리스트 # JAVA의 map과 같은 역할 # key, value # 자바스크립트의 객체와 비슷함.
print(dic)
print(type(dic))

{'애플': 'www.apple.com', '네이버': 'www.naver.com', '파이썬': 'www.python.org'}
<class 'dict'>

In [53]:
# 데이터 접근 방법
print(dic['네이버'])
# print(dic['애플':'파이썬']) # error

www.naver.com

In [56]:
# 데이터 삽입
dic2 = {}
print(type(dic2))

dic2['애플'] = 'www.apple.com'
dic2['네이버'] = 'www.naver.com'

print(dic2)

<class 'dict'>
{'애플': 'www.apple.com', '네이버': 'www.naver.com'}

## - 딕셔너리 제공 메서드

In [57]:
print(dic.keys())

dict_keys(['애플', '네이버', '파이썬'])

In [59]:
print(dic.values()) # 리스트 형태로 반환해줌

dict_values(['www.apple.com', 'www.naver.com', 'www.python.org'])

In [60]:
print(dic.items()) # key, values를 한꺼번에 볼 수 있다.

dict_items([('애플', 'www.apple.com'), ('네이버', 'www.naver.com'), ('파이썬', 'www.python.org')])

In [62]:
print("애플" in dic.keys())
print("다음" in dic.keys())

True
False

In [65]:
print('www.naver.com' in dic.values())
print('www.daum.net' in dic.values())

True
False

In [66]:
# 데이터 제거
print(dic.pop('애플')) # 삭제할 때는 key로 접근해야함.
print(dic)

www.apple.com
{'네이버': 'www.naver.com', '파이썬': 'www.python.org'}

In [67]:
# 데이터 완전 삭제.clear
dic.clear()
print(dic)

{}