# 리스트 (List)_20221027
### - 리스트 저장 형태

In [4]:
a = ["베드로", "요한", "야고보"]
print(a)
print(type(a))

['베드로', '요한', '야고보']
<class 'list'>

In [12]:
# 데이터 접근
print(a[0])
print(a[1])
print(a[2])
# print(a[3]) : IndexError

베드로
요한
야고보

In [19]:
# 슬라이싱 기능
x = [1,2,3,4,5,6,7,8,9,10]
print(x[0:5]) # 0,1,2,3,4까지만 데이터를 가져와라
print(x[5:])
print(x[3:6])
# print(x[3:6, 7]) # TypeError, R에서는 가능했었다.

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[4, 5, 6]

In [35]:
# '+' 연산자를 통한 리스트간의 결합 가능.
x = [1,2,3,4,5]
y = [6,7,8,9,10]
print(x + y)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
# 특정 위치에 있는 데이터를 변경.
x = [1,2,3,4,5]
x[2] = 888
print(x)
print(len(x))

[1, 2, 888, 4, 5]
5

In [31]:
# 리스트에서 항목 삭제하기
del x[4]
print(x)

[1, 2, 888, 4]

In [32]:
x = [1,3,5]
x.append(7)
print(x)

[1, 3, 5, 7]

In [36]:
y = [9,11,13]
x.extend(y)
print(x)

[1, 2, 3, 4, 5, 9, 11, 13]

In [37]:
x.insert(1,777) # 1의 위치에다가 777숫자를 삽입.
print(x)

[1, 777, 2, 3, 4, 5, 9, 11, 13]

In [38]:
x.remove(11) # 삭제 값 지장
print(x)

[1, 777, 2, 3, 4, 5, 9, 13]

In [39]:
x.remove(11) # ValueError

ValueError: list.remove(x): x not in list

In [41]:
x.pop(1) # 인덱스 지정. # 꺼내오고 나서 나머지 값만이 담겨짐
print(x)

[1, 3, 4, 5, 9, 13]

In [42]:
x = ['abc', 'def', 'ghi'] # 0:'abc', 1:'def', 2:'ghi'
print(x.index('ghi'))

2

In [43]:
print(x.index('xyz')) # ValueError

ValueError: 'xyz' is not in list

In [2]:
x = [1, 888, 2, 777, 3, 888, 4, 100, 100]
print(x.count(100))

2

In [4]:
x = [7,5,9,4,2] # sort는 결과값만 리턴해주지 않음
x.sort() # 정렬하기
print(x) # 정렬 후 자료값까지 변경해줌.

[2, 4, 5, 7, 9]

In [5]:
x.sort(reverse=True)
print(x)

[9, 7, 5, 4, 2]